= render 'layouts/nav'
.wrapper3
  %h1 All Creators
  - @creators.each do |creator|
    %br/
    %br/
    .dropdown
      = image_tag creator.profile.url(:medium)
      .dropdown-content
        = link_to creator.name, creator, id: 'creatorname'

  
 
