/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$maincolour:#00E2FF;
$secondcolour:#E9E9E9;

body{
  font-family: 'Open Sans', sans-serif;
  margin:0;
  background:#202025;
}


/*
    height: 100vh;
    width: 100%;
    img{
  border-radius: 400px;
}

*/    

.hidden{
  display:none;
}

.wrapper{
  width: 40%;
	margin: 0 auto;
	margin-top:100px;
	h1{
	    margin-top:70px;
	    text-transform:uppercase;
	    font-size:30px;
	    color:#E9E9E9;
	}
}

.wrapper2{
  width: 58%;
	margin: 0 auto;
	margin-top:100px;
	h1{
	    margin-top:70px;
	    text-transform:uppercase;
	    font-size:30px;
	    color:#E9E9E9;
	}
}

.wrapper3{
  width: 10%;
	margin: 0 auto;
	margin-top:100px;
	h1{
	    margin-top:70px;
	    text-transform:uppercase;
	    font-size:30px;
	    color:#E9E9E9;
	}
}

.wrapper4{
  width: 60%;
  position:absolute;
  left:10%;
	margin-top:100px;
	h1{
	    margin-top:70px;
	    text-transform:uppercase;
	    font-size:30px;
	    color:#E9E9E9;
	}
}

/* Variables */


.inline{
	display:inline-block;
}

.colour{
  color:$secondcolour;
}

.center{
  text-align:center;
}

.uppercase{
  text-transform:uppercase;
}

.hr{
  width:30px;
  border:2px solid gray;
  float:left;
}

.p{
  text-transform:uppercase;
  color:red;
}

body{
    font-family: 'Open Sans', sans-serif;
    margin:0;
    font-weight: 100;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
}




.button {
	outline: none;
	background: transparent;
	color:#ffffff;
	text-decoration:none;
	border: 1px solid #E4E4E4;
	padding: .7em 1.5em;
	border-radius: 1.5em;
	&:hover {
		border: 1px solid $secondcolour;
		color: #E4E4E4;

	}
}

.button3{
	outline: none;
	background: transparent;
	color:#ffffff;
	text-decoration:none;
	border: 1px solid #E4E4E4;
	padding: .8em 1.5em;
	font-size:17px;
	border-radius: 1.5em;
	&:hover {
		border: 1px solid $secondcolour;
		color: $secondcolour;

	}
}

.button2 {
	outline: none;
	background: transparent;
	color:#ffffff;
	text-decoration:none;
	border: 1px solid #E4E4E4;
	padding: .7em 1.5em;
	border-radius: 1.5em;
	&:hover {
		border: 1px solid #000000;
		color: #000000;

	}
}



.logo{
  background: transparent;
  height: 40px;
  width: 40px;
  border: 4px solid #ffffff;
  border-radius: 12px;
  position: absolute;
  top:5%;
  left: 3%;
  position:fixed;
  z-index:1;
  .dot{
    background: #ffffff;
    height: 10px;
    width: 10px;
    border-radius: 100px;
    position: absolute;
    left: 35%;
    top:40%;
    z-index:1;
  }
}


.profileimg{
	float:right;
	position: absolute;
    top:5%;
    right: 7%;
    position:fixed;
	img{
		border-radius:400px;
	}
}

.creatorname{
  float:right;
  position: absolute;
  top:5%;
  right: 11%;
  position:fixed;
  color:#ffffff;
  font-size:17px;
}


.alert {
  padding: 20px;
  background-color:  #4CAF50;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
  z-index: 1;
  .closebtn:hover {
    color: black;
  }

  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }

}

.area{
  outline: none;
	background: transparent;
	color:$maincolour;
	text-decoration:none;
	border: 1px solid $secondcolour;
	padding: 2em 3.5em;
	font-size:15px;
	width:50%;
	border-radius: 1.5em;
	&:hover {
		border: 1px solid yellow;
		color: yellow;

	}
}

.lgarea{
  outline: none;
	background: transparent;
	color:#E4E4E4;
	text-decoration:none;
	border: 1px solid $secondcolour;
	padding: 5em 3.5em;
	font-size:15px;
	width:50%;
	border-radius: 1.5em;
	&:hover {
		border: 1px solid yellow;
		color: yellow;

	}
}

.lgarea2{
  outline: none;
	background: transparent;
	color:$secondcolour;
	text-decoration:none;
	border: 1px solid $secondcolour;
	padding: 5em 3.5em;
	font-size:15px;
	width:50%;
	border-radius: 1.5em;
	&:hover {
		border: 1px solid yellow;
		color: yellow;

	}
}

.dropdown{
  background:red;
}

.imgbutton {
	outline: none;
	background: transparent;
	color:$secondcolour;
	text-decoration:none;
	border: 1px solid $secondcolour;
	padding: .7em 1.5em;
	border-radius: 1.5em;
	width:14%;
	&:hover {
		border: 1px solid yellow;
		color: yellow;

	}
	button{
	  display:none;
	}
}

.link{
	color:#E9E9E9;
	text-decoration:none;
	&:hover{
		color:yellow;
	}
}

.area2{
  outline: none;
	background: transparent;
	color:$secondcolour;
	text-decoration:none;
	border: 1px solid $secondcolour;
	padding: 1em 3.5em;
	font-size:15px;
	width:30%;
	border-radius: 1.5em;
	&:hover {
		border: 1px solid yellow;
		color: yellow;

	}
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 30px;
  border-radius:400px;
  border:0;
  outline: none;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  padding: 17px;
  font-size:25px;
}

#myBtn:hover {
  color:lightgray;
}

#help {
  display: none;
  position: fixed;
  bottom: 100px;
  right: 30px;
  border-radius:400px;
  border:0;
  outline: none;
  background-color: transparent;
  color: grey;
  cursor: pointer;
  padding: 17px;
  font-size:25px;
}

#help:hover {
  color:#00E2FF;
}

.hide{
  visibility: hidden;
}




 #search{
 	    position:absolute;
      background:transparent;
      border:0;
      border-radius:10px;
      padding:40px;
      color:#ffffff;
      top:3%;
      left: 26%;
      font-size:20px;
      width:50%;
  }
  .searchbutton{
      padding:30px;
      border-radius:10px;
      background:gray;
      border:0;
      position:absolute;
      color:#ffffff;
      top:3%;
      left: 50%;
  }
  .searchbutton:hover{
      background:#ffd680;
  }
  
  .searchtag{
  	  position:absolute;
      color:#ffffff;
      top:5%;
      left: 20%;
      font-size:20px;
  }
  
.hrs{
	border-color:#ffffff;
	position:absolute;
  color:#ffffff;
  top:3.5%;
  left: 25%;
}