.sidenav{
  .li{
    list-style-type:none;
    color:gray;
    margin-bottom:20px;
    font-size:20px;
    letter-spacing:1px;
    font-weight:100;
    text-decoration:none;
    &:hover{
        color:#00E2FF;
    }
  }
}

.profile{
    text-align: center;
    position: absolute;
    left: 50%;
    top:45%;
    transform: translate(-50%, -50%);
    padding-bottom:100px;
    padding-to:100px;
    img{
        border-radius:400px;
    }
    .about{
        max-width:80%;
        margin:0 auto;
    }
    h1{
        color:#696969;
        font-weight:700;
        margin-top:50px;
    }
    .count{
        padding-top:50px;
        font-size:25px;
        color:#696969;
        font-weight:700;
    }
    .about{
        font-size:20px;
        color:#A9A9A9;
    }
    .inline{
        display:inline;

    }
}


.show{
  #posts{
    position: absolute;
    top:60%;  
    left:10%;
  }
}

.wrapper3{
    img{
        border-radius:400px;
    }
    #creatorname{
        color:gray;
        text-decoration:none;
        font-size:30px;
        text-align:center;
    }
    .dropdown{
        background:transparent;
    }
}